
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>

<div style="background-color:black; height:400; text-align: center; Background-image: url('https://www.prattlibrary.org/assets/card/bookshelves-bright-colors.jpg') ; padding:20px">
{{> Header}}
<H1>
    <a class="btn btn-primary btn-lg active" href="/login">Sing In</a>
</H1>   
</div>


<div id="a"></div>
  



<h2 style="color:green"> Get all marked checkboxes value </h2>  
<h4> Select the programming language, you know </h4>  
<tr>  
<td> Java: <input type="checkbox" id="check1" name="pl" value="Java"> </td>  
<td> PHP: <input type="checkbox" id="check2" name="pl" value="PHP"> </td>   
</tr> <tr>  
<td> Angular: <input type="checkbox" id="check3" name="pl" value="Angular"> </td>  
<td> CSS: <input type="checkbox" id="check4" name="pl" value="CSS"> </td>  
</tr> <tr>  
<td> Python: <input type="checkbox" id="check5" name="pl" value="Python"> </td>  
<td> Android: <input type="checkbox" id="check6" name="pl" value="Android"> </td> <br> <br>  
<button id="btn">Submit</button> <br>  
<h4 style="color:green" id="result"></h4>    
 
 





<ul class="collection list-group" style=" text-align:center;width:45%;" id="list1" data-ref="mixitup-container">
                  <li><a href="#" class="collection-item light-blue active">List 1 <input title="toggle all" type="checkbox" class="all pull-right"></a></li>
                  <li class="item green" data-ref="mixitup-target"><a href="#" class="collection-item">Second item <input type="checkbox" class="pull-right"></a></li>
                  <li class="item blue" data-ref="mixitup-target"><a href="#" class="collection-item">More item <input type="checkbox" class="pull-right"></a></li>
                 <li class="item pink" data-ref="mixitup-target"> <a href="#" class="collection-item">Another <input type="checkbox" class="pull-right"></a></li>
                 <li class="item green" data-ref="mixitup-target"><a href="#" class="collection-item">Second item <input type="checkbox" class="pull-right"></a></li>
                  <li class="item blue" data-ref="mixitup-target"><a href="#" class="collection-item">More item <input type="checkbox" class="pull-right"></a></li>
                 <li class="item green" data-ref="mixitup-target"> <a href="#" class="collection-item">Another <input type="checkbox" class="pull-right"></a></li>
                 <li class="item pink" data-ref="mixitup-target"><a href="#" class="collection-item">Second item <input type="checkbox" class="pull-right"></a></li>
                  <li class="item green" data-ref="mixitup-target"><a href="#" class="collection-item">More item <input type="checkbox" class="pull-right"></a></li>
                 <li class="item blue" data-ref="mixitup-target"> <a href="#" class="collection-item">Another <input type="checkbox" class="pull-right"></a></li>
               </ul>
  <button title="Send to list 2" class="btn light-blue center-block add"> <i class="material-icons">add</i></button>
                <button title="Send to list 1" style="margin-top:10px;" class="btn light-blue center-block remove"> <i class="material-icons">remove</i></button>
  <ul class="collection" style="text-align:center;width:45%;" id="list2">
                     
                     
                     
                     
                      
                   </ul>


















<script>  

$('.add').click(function(){
    $('.all').prop("checked",false);
    var items = $("#list1 input:checked:not('.all')");
    var n = items.length;
    if (n > 0) {
      items.each(function(idx,item){
        var choice = $(item);
        var inp = $('<input id="12464" type="number" class="validate qty right">');
        var choices = $(choice.parent());
        choice.prop("checked",false);
        choices.appendTo("#list2");
      });
    }
    else {
        alert("Choose an item from list 1");
    }
});

$('.remove').click(function(){
    $('.all').prop("checked",false);
    var items = $("#list2 input:checked:not('.all')");
    items.each(function(idx,item){
      var choice = $(item);
      choice.prop("checked",false);
      choice.parent().appendTo("#list1");
    });
});

/* toggle all checkboxes in group */
$('.all').click(function(e){
    e.stopPropagation();
    var $this = $(this);
    if($this.is(":checked")) {
        $this.parents('.collection').find("[type=checkbox]").prop("checked",true);
    }
    else {
        $this.parents('.collection').find("[type=checkbox]").prop("checked",false);
        $this.prop("checked",false);
    }
});

$('[type=checkbox]').click(function(e){
  e.stopPropagation();
});

/* toggle checkbox when list group item is clicked */
$('.collection a').click(function(e){

    e.stopPropagation();

    var $this = $(this).find("[type=checkbox]");
    if($this.is(":checked")) {
        $this.prop("checked",false);
    }
    else {
        $this.prop("checked",true);
    }

    if ($this.hasClass("all")) {
        $this.trigger('click');
    }
});







 





var json = {
    "selectedissues": [{
        "code": "is1",
        "name": "issue1",
        "children": [] // Also could be null instead of []
    }, {
        "code": "is2",
        "name": "issue2",
        "children": []
    }, {
        "code": "is3",
        "name": "issue3",
        "children": []
    },
    
     {
        "code": "is4",
        "name": "issue4",
        "children": []
    }
    
    
    
    ]
},
    html = "";// The returned object.

function createCheck(issue) {
    return "<input type='checkbox' id='" + issue.code + "' value='" + issue.code + "' /><label for='" + issue.code + "'>" + issue.name + "</label>";
}

function parseIssues(issues) {
    html += "<ul>";
    for (var i = 0; i < issues.length; i++) { 
        var issue = issues[i],
            input = createCheck(issue); // Creates the html for the checkbox
        html += "<li>" + input;
        if (issue.children.length > 0) {
            parseIssues(issue.children); // Calls a function which does similar to this for with the children.
        }
        html += "</li>";
    }
    html += "</ul>";
}

parseIssues(json.selectedissues);
document.getElementById("a").innerHTML = html;





document.getElementById('btn').onclick = function() {  
  var markedCheckbox = document.getElementsByName('pl');  
  for (var checkbox of markedCheckbox) {  
    if (checkbox.checked)  
      document.body.append(checkbox.value + ' ');
       

  }  
}  

</script>  
  
</body>  
</html>  
