<!DOCTYPE html>
<html>
<head>
	<title>Handlebars Demo</title>

<header>
			<a id="aSignin" href="index">Sign in</a>

 New user? Register <a href="/register">here</a>



		</header>

<style>
body {
  background-color: #E6E6FA;
  background-image: url('http://image.facegfx.com/2013/small-clean-tile-the-background-picture-653146497625.jpg');


}
</style>





<body>

	<!-- For loop demo -->
	
  
        {{{body}}}
 



</body>
</html>


