 
<dive  style="position: fixed; top: 0; right: 0; width: 250px;">

 

    <a class="navbar-brand" href="/">Sign Out</a>
</dive>

<h1>

<div style="background-color:black; height:400; text-align: center; Background-image: url('https://ideasonfire.net/wp-content/uploads/2020/07/Last-Checks-to-Do-Before-Submitting-a-Book-Proposal-blog.jpg') ; padding:20px">
 

<button type="button">Borrow!</button>

<br/>


<div>
  <input type="checkbox" id="1" name="scales"
         checked>
  <label for="scales">To Kill a Mockingbird, by Harper Lee.</label>
</div>



 

 
 



<div>
  <input type="checkbox" id="2" name="horns">
  <label for="horns">1984, by George Orwell.</label>
</div>


<div>
  <input type="checkbox" id="3" name="horns">
  <label for="horns">Harry Potter and the Philosopher's Stone, by J.K. Rowling.</label>
</div>



<div>
  <input type="checkbox" id="4" name="horns">
  <label for="horns">The Lord of the Rings, by J.R.R. Tolkien.</label>
</div>



<div>
  <input type="checkbox" id="5" name="horns">
  <label for="horns">The Great Gatsby, by F. ...</label>
</div>



<div>
  <input type="checkbox" id="6" name="horns">
  <label for="horns">The Book Thief, by Markus Zusak.</label>
</div>



<div>
  <input type="checkbox" id="7" name="horns">
  <label for="horns">Wuthering Heights, by Emily Bronte</label>
</div>


<div>
  <input type="checkbox" id="8" name="horns">
  <label for="horns">The Diary Of A Young Girl, by Anne Frank.</label>
</div>

<div>
  <input type="checkbox" id="9" name="horns">
  <label for="horns">Pride and Prejudice, by Jane Austen.</label>
</div>




<div>
  <input type="checkbox" id="10" name="horns">
  <label for="horns">The Color Purple, by Alice Walker</label>
</div>



</h1>

</div>