
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>

<div style="background-color:black; height:400; text-align: center; Background-image: url('https://www.prattlibrary.org/assets/card/bookshelves-bright-colors.jpg') ; padding:20px">
{{> Header}}
<H1>
    <a class="btn btn-primary btn-lg active" href="/login">Sing In</a>
</H1>   
</div>


 
  
</body>  
</html>  
