 
<dive  style="position: fixed; top: 0; right: 0; width: 250px;">

 

    <a class="navbar-brand" href="/">Sign Out</a>
</dive>

<h1>

<div style="background-color:black; height:400; text-align: center; Background-image: url('https://ideasonfire.net/wp-content/uploads/2020/07/Last-Checks-to-Do-Before-Submitting-a-Book-Proposal-blog.jpg') ; padding:20px">
 




<br/>



<div class="row"    style="align:center">


  <div class="column">






</div>





<div class="center">

<div class="row">
  <div class="column " style="background-color:#aaa;">
     
   

<div id="div1">

   
   
  
  



    <ul class="chk-container">
        <li><input class="ck1" type="checkbox" value="ed4s1xx2/">The Shining</li>
        <li><input class="ck1" type="checkbox" value="item2">Rainbow Six</li>
        <li><input class="ck1" type="checkbox" value="item3">Steve Jobs</li>
        <li><input class="ck1" type="checkbox" value="item4">Elon Musk</li>
        <li><input class="ck1" type="checkbox" value="item5">Pride and Prejudice</li>
        <li><input class="ck1" type="checkbox" value="item6">Rules of Prey </li>
    </ul>
</div>

<button id="btn-add">Borrow</button>

  </div>


<div class="column " style=" width: 1%;">
 
</div>


 <div class="column" style="background-color:#bbb;">
     
    
<div id="div2" align="right" >
    <ul class="chk-container-Add">
        <li><input class="ck1" type="checkbox" value="item7">The C Programming</li>
        <li><input class="ck1" type="checkbox" value="item8">Mortal Stakes </li>
        <li><input class="ck1" type="checkbox" value="item9">Exit Lines </li>
        <li><input class="ck1" type="checkbox" value="item10">Point of Impact </li>

  
    </ul>
</div>

<button id="btn-remove">Return</button>


  </div>



<div>









  <div class="column">

 

<div></div>





</div>


</div>





<table>
  <tr>
    <td>






</td>
    <td> </td>


    <td>





</td>
  </tr>
  
</table>











<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript">
 

$(document).ready(function() {
    $('#btn-add').click(function(){
        $('#div1 input[type="checkbox"]:checked').each(function() {
            $('.chk-container-Add').append("<li><input class='checkbox2' type='checkbox' value='"+$(this).val()+"'>"+$(this).parent().text()+"</li>");
            $(this).parent().remove();
        });
    });

    $('#btn-remove').click(function(){
        $('#div2 input[type="checkbox"]:checked').each(function() {
            $('.chk-container').append("<li><input class='checkbox2' type='checkbox' value='"+$(this).val()+"'>"+$(this).parent().text()+"</li>");
            $(this).parent().remove();
        });
    });

});

</script>

</div>
